$white: #ffffff
$white-hover: #ffffffc0
$blue: #264653
$blue-hover: #264653ce
$orange: #e76f51
$orange-hover: #e76f5180
$yellow: #ffd062
$yellow-hover: #ffd06280
$green: #abcc80
$green-hover: #abcc8080
