@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
}
body h2 {
  font-size: 40px;
  padding: 40px 0;
  color: #ffffff;
}
body h2::after {
  content: "";
  display: block;
  width: 70%;
  height: 3px;
  margin: 10px auto;
  background-color: #8dc945;
}
body p, body a {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}
body a {
  color: #264653;
  text-decoration: none;
}
body ul {
  list-style: none;
}

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
header nav div.logo a {
  font-size: 24px;
  font-weight: 600;
  color: #264653;
}
header nav div.logo a:hover {
  -webkit-text-decoration: underline #8dc945 3px;
          text-decoration: underline #8dc945 3px;
}
header nav ul.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav ul.menu li a {
  display: block;
  margin: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  color: #264653;
}
header nav ul.menu li a:hover {
  -webkit-text-decoration: underline #8dc945 2px;
          text-decoration: underline #8dc945 2px;
}
header nav label.menu-icon {
  display: none;
}
header nav input#menu-toggle {
  display: none;
}
header nav input#menu-toggle:checked ~ ul.menu {
  transform: scale(1, 1);
}

main section#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 88.3vh;
  color: #ffffff;
  background-image: url("https://images.unsplash.com/39/wdXqHcTwSTmLuKOGz92L_Landscape.jpg?ixid=M3wxMjA3fDB8MXxzZWFyY2h8NHx8bmF0dXJlJTIwcGF5c2FnZXxmcnwwfHx8fDE3MjgxNjc1NTl8MA&ixlib=rb-4.0.3");
  background-size: cover;
}
main section#hero h1 {
  padding: 40px 0;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
main section#hero div.keywords {
  display: flex;
  align-items: center;
}
main section#hero div.keywords p.keyword {
  padding: 40px 0;
  margin: 0 10px;
  font-size: 18px;
  font-weight: 400;
}
main section#hero div.keywords p.point {
  font-weight: bold;
  margin: 0 20px;
  color: #8dc945;
}
main section#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 150px;
}
main section#about h2 {
  color: #264653;
}
main section#about p.text {
  font-size: 18px;
  line-height: 1.5;
  color: #264653;
}
main section#about p.signature {
  padding: 40px 0;
  font-size: 20px;
  font-style: italic;
  color: #264653;
}
main section#cta_services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  background-color: #264653;
}
main section#cta_services h2 {
  color: #ffffff;
}
main section#cta_services div.services {
  display: flex;
  align-items: center;
}
main section#cta_services div.services a.service {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 50px 130px 50px;
  min-width: 400px;
  min-height: 200px;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgba(233, 196, 106, 0.5019607843);
  transition: 0.5s;
}
main section#cta_services div.services a.service:hover {
  background-color: #e9c46a;
}
main section#cta_services div.services a.service p {
  font-size: 40px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
}
main section#about_naturo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 150px;
}
main section#about_naturo h2 {
  color: #264653;
}
main section#about_naturo div.about_naturo_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px 80px 80px 80px;
}
main section#about_naturo div.about_naturo_container p {
  width: 700px;
  margin: 0 50px;
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  color: #264653;
}
main section#about_naturo div.about_naturo_container img {
  width: 300px;
  height: 400px;
  margin: 0 50px;
  background-color: red;
}
main section#naturo_fundamentals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section#naturo_fundamentals h2 {
  color: #264653;
}
main section#naturo_fundamentals div.naturo_fundamentals_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
main section#naturo_fundamentals div.naturo_fundamentals_container div.item {
  padding: 50px;
  text-align: center;
  color: #ffffff;
}
main section#naturo_fundamentals div.naturo_fundamentals_container div.item h3 {
  font-size: 32px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  margin-bottom: 30px;
}
main section#naturo_fundamentals div.naturo_fundamentals_container div.item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .holisme {
  background-color: #e9c46a;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .vitalisme {
  background-color: #264653;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .causalisme {
  background-color: #e9c46a;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .humorisme {
  background-color: #264653;
}
main section#naturo_fundamentals div.naturo_fundamentals_container img {
  width: 100%;
  height: 336px;
  background-color: red;
  -o-object-fit: cover;
     object-fit: cover;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .holisme_img {
  grid-column: 2;
  grid-row: 1;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .vitalisme_img {
  grid-column: 1;
  grid-row: 2;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .causalisme_img {
  grid-column: 2;
  grid-row: 3;
}
main section#naturo_fundamentals div.naturo_fundamentals_container .humorisme_img {
  grid-column: 1;
  grid-row: 4;
}
main section#hero_individuals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-image: url("https://images.unsplash.com/39/wdXqHcTwSTmLuKOGz92L_Landscape.jpg?ixid=M3wxMjA3fDB8MXxzZWFyY2h8NHx8bmF0dXJlJTIwcGF5c2FnZXxmcnwwfHx8fDE3MjgxNjc1NTl8MA&ixlib=rb-4.0.3");
  background-size: cover;
  background-position: center;
}
main section#hero_individuals h1 {
  font-size: 70px;
  color: #ffffff;
}
main section#hero_individuals p.subtitle {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}
main section#hero_individuals div.breadcrumb {
  display: flex;
}
main section#hero_individuals div.breadcrumb a {
  color: #ffffff;
}
main section#hero_individuals div.breadcrumb a:hover {
  -webkit-text-decoration: underline #8dc945 3px;
          text-decoration: underline #8dc945 3px;
}
main section#hero_individuals div.breadcrumb p {
  margin: 0 20px;
  color: #ffffff;
  cursor: default;
}
main section#infos_consult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 150px;
}
main section#infos_consult h2 {
  color: #264653;
}
main section#infos_consult div.infos_consult_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main section#infos_consult div.infos_consult_container div.consult {
  margin: 0 100px;
  text-align: center;
}
main section#infos_consult div.infos_consult_container div.consult img {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  background-color: red;
}
main section#infos_consult div.infos_consult_container div.consult h3 {
  margin-bottom: 5px;
  font-size: 32px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  color: #264653;
}
main section#infos_consult div.infos_consult_container div.consult p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #264653;
  border: 1px solid #264653;
}
main section#questions_consult {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  background-color: #264653;
}
main section#questions_consult div.question {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
main section#questions_consult div.question h3 {
  font-size: 32px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  margin-bottom: 30px;
}
main section#questions_consult div.question p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 150px;
}
main section#questions_consult div.question img {
  width: 100%;
  height: 336px;
}
main section#calendly {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main section#calendly h2 {
  color: #264653;
}
main section#office {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
main section#office h2 {
  color: #264653;
}
main section#office div.infos_office {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
main section#office div.infos_office iframe {
  margin: 0 50px;
}
main section#office div.infos_office div.adress {
  margin: 0 50px;
}
main section#office div.infos_office div.adress div.text {
  margin: 50px 0;
}
main section#office div.infos_office div.adress div.text h3 {
  margin-bottom: 5px;
  font-size: 32px;
  font-family: "Fira Sans", serif;
  font-weight: 400;
  color: #264653;
}
main section#office div.infos_office div.adress div.text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #264653;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  background-color: #ffffff;
  box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.3);
}
footer a.logo {
  font-size: 25px;
}
footer a.logo:hover {
  -webkit-text-decoration: underline #8dc945 3px;
          text-decoration: underline #8dc945 3px;
}
footer div.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div.links a {
  margin: 0 15px;
  padding: 20px;
  color: #ffffff;
  background-color: #264653;
  transition: 0.3s;
}
footer div.links a:hover {
  background-color: rgba(38, 70, 83, 0.8078431373);
}
footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin: 0 15px;
}
footer ul li a {
  color: #264653;
}
footer ul li a:hover {
  -webkit-text-decoration: underline #8dc945 3px;
          text-decoration: underline #8dc945 3px;
}

@media only screen and (max-width: 950px) {
  header nav label.menu-icon {
    display: block;
    color: #264653;
    font-size: 28px;
    cursor: pointer;
  }
  header nav ul.menu {
    position: absolute;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    top: 61px;
    left: -41px;
    z-index: 1;
    background-color: #ffffff;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    border-top: 3px solid #264653;
  }
  header nav ul.menu li {
    margin: 15px 0;
  }
  header nav ul.menu li a {
    margin-left: 12px;
    color: #264653;
  }
  main section#about {
    padding: 0;
  }
  main section#about p.text {
    font-size: 16px;
  }
  main section#cta_services {
    padding: 0 50px;
  }
  main section#cta_services div.services {
    flex-direction: column;
  }
  main section#cta_services div.services a.service {
    margin: 5px 0 50px 0;
    min-width: 500px;
    min-height: 400px;
  }
  main section#cta_services div.services a.service p {
    font-size: 40px;
  }
  main section#about_naturo div.about_naturo_container {
    flex-direction: column;
  }
  main section#about_naturo div.about_naturo_container p {
    text-align: center;
    margin: 0 0 50px 0;
    width: 100%;
    font-size: 16px;
  }
  main section#about_naturo div.about_naturo_container img {
    width: 300px;
    height: 400px;
    margin: 0;
  }
  main section#infos_consult {
    padding: 0 50px;
  }
  main section#infos_consult div.infos_consult_container div.consult {
    margin: 0;
    padding: 30px;
  }
  main section#questions_consult div.question {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 50px 0;
  }
  main section#questions_consult div.question div.text h3 {
    margin: 0;
  }
  main section#questions_consult div.question div.text p {
    padding: 50px;
    font-size: 16px;
  }
  main section#questions_consult div.question img {
    display: none;
  }
  main section#calendly {
    margin-bottom: 25px;
  }
  main section#office {
    padding: 0 50px;
  }
  main section#office div.infos_office {
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  main section#hero h1 {
    font-size: 36px;
  }
  main section#hero div.keywords p.keyword {
    font-size: 16px;
    padding: 15px 0;
  }
  main section#hero div.keywords p.point {
    margin: 0 10px;
  }
  main section#about {
    padding: 0 50px;
  }
  main section#about h2 {
    font-size: 32px;
  }
  main section#about p.text {
    font-size: 16px;
  }
  main section#about p.signature {
    font-size: 18px;
  }
  main section#cta_services {
    padding: 0 50px;
  }
  main section#cta_services h2 {
    font-size: 32px;
  }
  main section#cta_services div.services {
    flex-direction: column;
  }
  main section#cta_services div.services a.service {
    margin: 5px 0 50px 0;
    min-width: 350px;
    min-height: 250px;
  }
  main section#cta_services div.services a.service p {
    font-size: 40px;
  }
  main section#about_naturo h2 {
    font-size: 32px;
  }
  main section#about_naturo div.about_naturo_container {
    flex-direction: column;
    padding: 0 0 50px 0;
  }
  main section#about_naturo div.about_naturo_container p {
    text-align: center;
    width: 100%;
    font-size: 16px;
  }
  main section#about_naturo div.about_naturo_container img {
    width: 300px;
    height: 400px;
    margin: 0;
  }
  main section#naturo_fundamentals h2 {
    font-size: 32px;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container {
    grid-template-columns: 1fr;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container div.item h3 {
    font-size: 24px;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container div.item p {
    font-size: 16px;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container img {
    display: none;
  }
  main section#infos_consult h2 {
    font-size: 32px;
  }
  main section#infos_consult div.infos_consult_container div.consult {
    margin: 25px 0;
  }
  main section#infos_consult div.infos_consult_container div.consult img {
    width: 90px;
    height: 90px;
  }
  main section#infos_consult div.infos_consult_container div.consult h3 {
    font-size: 24px;
  }
  main section#infos_consult div.infos_consult_container div.consult p {
    font-size: 16px;
  }
  main section#questions_consult {
    margin-top: 25px;
  }
  main section#questions_consult div.question div.text h3 {
    font-size: 22px;
  }
  main section#questions_consult div.question div.text p {
    padding: 50px 50px 0 50px;
    font-size: 15px;
  }
  main section#calendly h2 {
    font-size: 32px;
  }
  main section#office h2 {
    font-size: 32px;
  }
  main section#office div.infos_office iframe {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  main section#hero h1 {
    font-size: 28px;
  }
  main section#hero div.keywords p.keyword {
    font-size: 14px;
    padding: 10px 0;
    margin: 0 5px;
  }
  main section#hero div.keywords p.point {
    margin: 0 5px;
  }
  main section#about {
    padding: 0 20px;
  }
  main section#about h2 {
    font-size: 24px;
  }
  main section#about p.text {
    font-size: 14px;
  }
  main section#about p.signature {
    font-size: 16px;
  }
  main section#cta_services {
    padding: 0 50px;
  }
  main section#cta_services h2 {
    font-size: 24px;
  }
  main section#cta_services div.services {
    flex-direction: column;
  }
  main section#cta_services div.services a.service {
    margin: 5px 0 50px 0;
    min-width: 300px;
    min-height: 200px;
  }
  main section#cta_services div.services a.service p {
    font-size: 40px;
  }
  main section#about_naturo {
    padding: 0 20px;
  }
  main section#about_naturo h2 {
    font-size: 24px;
  }
  main section#about_naturo div.about_naturo_container {
    flex-direction: column;
    padding: 0 0 50px 0;
  }
  main section#about_naturo div.about_naturo_container p {
    text-align: center;
    width: 100%;
    font-size: 16px;
  }
  main section#about_naturo div.about_naturo_container img {
    width: 250px;
    height: 350px;
    margin: 0;
  }
  main section#naturo_fundamentals h2 {
    font-size: 24px;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container {
    grid-template-columns: 1fr;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container div.item h3 {
    font-size: 24px;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container div.item p {
    font-size: 16px;
  }
  main section#naturo_fundamentals div.naturo_fundamentals_container img {
    display: none;
  }
  main section#infos_consult {
    padding: 0 50px;
  }
  main section#infos_consult h2 {
    font-size: 24px;
  }
  main section#infos_consult div.infos_consult_container {
    flex-direction: column;
  }
  main section#infos_consult div.infos_consult_container div.consult img {
    width: 90px;
    height: 90px;
  }
  main section#infos_consult div.infos_consult_container div.consult h3 {
    font-size: 24px;
  }
  main section#infos_consult div.infos_consult_container div.consult p {
    font-size: 16px;
  }
  main section#questions_consult {
    margin: 25px 0;
  }
  main section#questions_consult div.question div.text h3 {
    font-size: 20px;
  }
  main section#questions_consult div.question div.text p {
    padding: 25px 25px 0 25px;
    font-size: 14px;
  }
  main section#calendly h2 {
    font-size: 24px;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
  }
  footer a.logo {
    margin-bottom: 20px;
  }
  footer div.links {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=styles.css.map */