@import _base
@import _variables
@import _typography

header
    position: sticky
    top: 0
    background-color: $white
    box-shadow: 0 0 50px $blue
    z-index: 100
    nav
        display: flex
        align-items: center
        justify-content: space-around
        a.logo
            font-size: 1.8rem
        ul
            display: flex
            list-style: none
            li
                margin: 20px
                a
                    font-size: 1rem
                    transition: 0.3s
                    &:hover
                        text-decoration: underline $orange 2px
                        color: $blue-hover
