@import _base
@import _variables
@import _typography

header
    position: sticky
    top: 0
    width: 100%
    background-color: $white
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3)
    z-index: 1
    nav
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px 30px
        div.logo
            a
                font-size: 24px
                font-weight: 600
                color: $blue
                &:hover
                    text-decoration: underline $green 3px
        ul.menu
            display: flex
            align-items: center
            justify-content: center
            li
                a
                    display: block
                    margin: 7px 15px
                    font-size: 17px
                    font-weight: 500
                    color: $blue
                    &:hover
                        text-decoration: underline $green 2px
        label.menu-icon
            display: none
        input#menu-toggle
            display: none
            &:checked ~ ul.menu
                transform: scale(1, 1)
main
    // index.html
    section#hero
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 88.3vh
        color: $white
        background-image: url("https://images.unsplash.com/39/wdXqHcTwSTmLuKOGz92L_Landscape.jpg?ixid=M3wxMjA3fDB8MXxzZWFyY2h8NHx8bmF0dXJlJTIwcGF5c2FnZXxmcnwwfHx8fDE3MjgxNjc1NTl8MA&ixlib=rb-4.0.3")
        background-size: cover
        h1
            padding: 40px 0
            font-size: 48px
            font-weight: 700
            text-align: center
        div.keywords
            display: flex
            align-items: center
            p.keyword
                padding: 40px 0
                margin: 0 10px
                font-size: 18px
                font-weight: 400
            p.point
                font-weight: bold
                margin: 0 20px
                color: $green
    section#about
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        padding: 0 150px
        h2
            color: $blue
        p.text
            font-size: 18px
            line-height: 1.5
            color: $blue
        p.signature
            padding: 40px 0
            font-size: 20px
            font-style: italic
            color: $blue
    section#cta_services
        display: flex
        flex-direction: column
        align-items: center
        margin: 50px 0
        background-color: $blue
        h2
            color: $white
        div.services
            display: flex
            align-items: center
            a.service
                display: flex
                align-items: center
                justify-content: center
                margin: 80px 50px 130px 50px
                min-width: 400px
                min-height: 200px
                border-radius: 5px
                color: $white
                background-color: $yellow-hover
                transition: 0.5s
                &:hover
                    background-color: $yellow
                p
                    font-size: 40px
                    font-weight: 400
                    font-family: "Fira Sans", serif
    section#about_naturo
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        padding: 0 150px
        h2
            color: $blue
        div.about_naturo_container
            display: flex
            align-items: center
            justify-content: space-around
            padding: 50px 80px 80px 80px
            p
                width: 700px
                margin: 0 50px
                text-align: left
                font-size: 18px
                line-height: 1.5
                color: $blue
            img
                width: 300px
                height: 400px
                margin: 0 50px
                background-color: red
    section#naturo_fundamentals
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        h2
            color: $blue
        div.naturo_fundamentals_container
            display: grid
            grid-template-columns: repeat(2, 1fr)
            align-items: center
            div.item
                padding: 50px
                text-align: center
                color: $white
                h3
                    font-size: 32px
                    font-family: "Fira Sans", serif
                    font-weight: 400
                    // text-decoration: underline $white 3px
                    margin-bottom: 30px
                p
                    font-size: 16px
                    font-weight: 400
                    line-height: 1.5
            .holisme
                background-color: $yellow
            .vitalisme
                background-color: $blue
            .causalisme
                background-color: $yellow
            .humorisme
                background-color: $blue
            img
                width: 100%
                height: 336px
                background-color: red
                object-fit: cover
            .holisme_img
                grid-column: 2
                grid-row: 1
            .vitalisme_img
                grid-column: 1
                grid-row: 2
            .causalisme_img
                grid-column: 2
                grid-row: 3
            .humorisme_img
                grid-column: 1
                grid-row: 4
    // individuals.html
    section#hero_individuals
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 50vh
        background-image: url("https://images.unsplash.com/39/wdXqHcTwSTmLuKOGz92L_Landscape.jpg?ixid=M3wxMjA3fDB8MXxzZWFyY2h8NHx8bmF0dXJlJTIwcGF5c2FnZXxmcnwwfHx8fDE3MjgxNjc1NTl8MA&ixlib=rb-4.0.3")
        background-size: cover
        background-position: center
        h1
            font-size: 70px
            color: $white
        p.subtitle
            margin-bottom: 50px
            font-size: 30px
            font-weight: 400
            color: $white
        div.breadcrumb
            display: flex
            a
                color: $white
                &:hover
                    text-decoration: underline $green 3px
            p
                margin: 0 20px
                color: $white
                cursor: default
    section#infos_consult
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 0 150px
        h2
            color: $blue
        div.infos_consult_container
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            div.consult
                margin: 0 100px
                text-align: center
                img
                    margin-bottom: 20px
                    width: 100px
                    height: 100px
                    background-color: red
                h3
                    margin-bottom: 5px
                    font-size: 32px
                    font-family: "Fira Sans", serif
                    font-weight: 400
                    color: $blue
                p
                    font-size: 20px
                    font-weight: 400
                    line-height: 1.5
                    color: $blue
                    border: 1px solid $blue
    section#questions_consult
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 75px
        background-color: $blue
        div.question
            display: grid
            grid-template-columns: repeat(2, 1fr)
            align-items: center
            justify-content: center
            text-align: center
            color: $white
            h3
                font-size: 32px
                font-family: "Fira Sans", serif
                font-weight: 400
                // text-decoration: underline $white 3px
                margin-bottom: 30px
            p
                font-size: 20px
                font-weight: 300
                line-height: 1.5
                padding: 0 150px
            img
                width: 100%
                height: 336px
footer
    display: flex
    align-items: center
    justify-content: space-around
    padding: 30px 0
    background-color: $white
    box-shadow: 0 -3px 20px rgba(0, 0, 0, 0.3)
    a.logo
        font-size: 25px
        &:hover
            text-decoration: underline $green 3px
    div.links
        display: flex
        align-items: center
        justify-content: center
        a
            margin: 0 15px
            padding: 20px
            color: $white
            background-color: $blue
            transition: 0.3s
            &:hover
                background-color: $blue-hover
    ul
        display: flex
        align-items: center
        justify-content: center
        padding: 0
        margin: 0
        li
            margin: 0 15px
            a
                color: $blue
                &:hover
                    text-decoration: underline $green 3px

@media only screen and (max-width: 950px)
    header
        nav
            label.menu-icon
                display: block
                color: $blue
                font-size: 28px
                cursor: pointer
            ul.menu
                position: absolute
                flex-direction: column
                width: 100vw
                align-items: center
                top: 61px
                left: -41px
                z-index: 1
                background-color: $white
                transform: scale(1, 0)
                transform-origin: top
                transition: transform 0.3s ease-in-out
                border-top: 3px solid $blue
                li
                    margin: 15px 0
                    a
                        margin-left: 12px
                        color: $blue
    main
        section#about
            padding: 0
            p.text
                font-size: 16px
        section#cta_services
            padding: 0 50px
            div.services
                flex-direction: column
                a.service
                    margin: 5px 0 50px 0
                    min-width: 500px
                    min-height: 400px
                    p
                        font-size: 40px
        section#about_naturo
            div.about_naturo_container
                flex-direction: column
                p
                    text-align: center
                    margin: 0 0 50px 0
                    width: 100%
                    font-size: 16px
                img
                    width: 300px
                    height: 400px
                    margin: 0
        // individuals.html
        section#infos_consult
            padding: 0 50px
            div.infos_consult_container
                div.consult
                    margin: 0
                    padding: 30px
        section#questions_consult
            div.question
                grid-template-columns: repeat(1, 1fr)
                grid-template-rows: repeat(1, 1fr)
                padding: 50px 0
                div.text
                    h3
                        margin: 0
                    p
                        padding: 50px
                        font-size: 16px
                img
                    display: none
@media only screen and (max-width: 768px)
    main
        section#hero
            h1
                font-size: 36px
            div.keywords
                p.keyword
                    font-size: 16px
                    padding: 15px 0
                p.point
                    margin: 0 10px
        section#about
            padding: 0 50px
            h2
                font-size: 32px
            p.text
                font-size: 16px
            p.signature
                font-size: 18px
        section#cta_services
            padding: 0 50px
            h2
                font-size: 32px
            div.services
                flex-direction: column
                a.service
                    margin: 5px 0 50px 0
                    min-width: 350px
                    min-height: 250px
                    p
                        font-size: 40px
        section#about_naturo
            h2
                font-size: 32px
            div.about_naturo_container
                flex-direction: column
                padding: 0 0 50px 0
                p
                    text-align: center
                    width: 100%
                    font-size: 16px
                img
                    width: 300px
                    height: 400px
                    margin: 0
        section#naturo_fundamentals
            h2
                font-size: 32px
            div.naturo_fundamentals_container
                grid-template-columns: 1fr
                div.item
                    h3
                        font-size: 24px
                    p
                        font-size: 16px
                img
                    display: none
        // individuals.html
        section#infos_consult
            h2
                font-size: 32px
            div.infos_consult_container
                div.consult
                    margin: 25px 0
                    img
                        width: 90px
                        height: 90px
                    h3
                        font-size: 24px
                    p
                        font-size: 16px
        section#questions_consult
            margin-top: 25px
            div.question
                div.text
                    h3
                        font-size: 22px
                    p
                        padding: 50px 50px 0 50px
                        font-size: 16px
@media only screen and (max-width: 480px)
    main
        section#hero
            h1
                font-size: 28px
            div.keywords
                p.keyword
                    font-size: 14px
                    padding: 10px 0
                    margin: 0 5px
                p.point
                    margin: 0 5px
        section#about
            padding: 0 20px
            h2
                font-size: 24px
            p.text
                font-size: 14px
            p.signature
                font-size: 16px
        section#cta_services
            padding: 0 50px
            h2
                font-size: 24px
            div.services
                flex-direction: column
                a.service
                    margin: 5px 0 50px 0
                    min-width: 300px
                    min-height: 200px
                    p
                        font-size: 40px
        section#about_naturo
            padding: 0 20px
            h2
                font-size: 24px
            div.about_naturo_container
                flex-direction: column
                padding: 0 0 50px 0
                p
                    text-align: center
                    width: 100%
                    font-size: 16px
                img
                    width: 250px
                    height: 350px
                    margin: 0
        section#naturo_fundamentals
            h2
                font-size: 24px
            div.naturo_fundamentals_container
                grid-template-columns: 1fr
                div.item
                    h3
                        font-size: 24px
                    p
                        font-size: 16px
                img
                    display: none
        // individuals.html
        section#infos_consult
            padding: 0 50px
            h2
                font-size: 24px
            div.infos_consult_container
                flex-direction: column
                div.consult
                    img
                        width: 90px
                        height: 90px
                    h3
                        font-size: 24px
                    p
                        font-size: 16px
        section#questions_consult
            margin-top: 25px
            div.question
                div.text
                    h3
                        font-size: 22px
                    p
                        padding: 25px 25px 0 25px
                        font-size: 16px
    footer
        flex-direction: column
        justify-content: center
        padding: 20px 0
        a.logo
            margin-bottom: 20px
        div.links
            margin-bottom: 20px
