@import _base
@import _variables
@import _typography

header
    position: sticky
    top: 0
    width: 100%
    background-color: $white
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3)
    z-index: 1
    nav
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px 30px
        div.logo
            a
                font-size: 24px
                font-weight: 600
                color: $blue
        ul.menu
            display: flex
            align-items: center
            justify-content: center
            li
                a
                    display: block
                    margin: 7px 15px
                    font-size: 17px
                    font-weight: 500
                    color: $blue
                    &:hover
                        text-decoration: underline $orange 2px
        label.menu-icon
            display: none
        input#menu-toggle
            display: none
            &:checked ~ ul.menu
                transform: scale(1, 1)
main
    section#hero
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 88.3vh
        color: $white
        background-color: $blue
        h1
            padding: 40px 0
            font-size: 48px
            font-weight: 700
        div.keywords
            display: flex
            p
                padding: 40px 0
                margin: 0 10px
                font-size: 18px
                font-weight: 400
            span
                padding: 40px 0
                font-weight: bold
                margin: 0 20px
                color: $orange

@media only screen and (max-width: 950px)
    header
        nav
            label.menu-icon
                display: block
                color: $blue
                font-size: 28px
                cursor: pointer
            ul.menu
                flex-direction: column
                width: 100vw
                background-color: $white
                align-items: center
                position: absolute
                top: 61px
                left: 0
                z-index: 1
                transform: scale(1, 0)
                transform-origin: top
                transition: transform 0.3s ease-in-out
                border-top: 3px solid $blue
                li
                    margin: 15px 0
                    a
                        margin-left: 12px
                        color: $blue
